* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;

}

body {
	background-color: orange
}

a {
	margin: 2%;
	text-decoration: none;

}

button {
	 color: #FFF;
	 background-color: #6d9ed8;
	 display: block
}

p {
	margin: 1%;
	color: black;
	font-weight: inherit;

}

h1 {
	font-size: 50px;
	text-align: center;
	
}

h5 {
	color: #33C3F0;
	margin: 0%;
	font-weight: 500

}

h3 {
	text-align: center;
	padding: 1%

}

input {
    height: 38px;
    width: 82%;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea {
    min-height: 200px;
    min-width: 82%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button.button-primary {
	    color: #FFF;
	    background-color: #6d9ed8;
	    border-color: 10px solid mediumspringgreen;

}

.outgoingTradesContainer {
	border: 10px solid #58a78d;
	padding: 5%;
	background-color: steelblue;
	opacity: 0.8

}

.incomingTradesContainer {
	border: 10px solid #58a78d;
	padding: 5%;
	background-color: steelblue;
	opacity: 0.8

}

#headerContainer{
	position: relative;
		.headerImg{
			position: absolute;
			width: 50px;
			left: 47%;
    		bottom: 57%;

		}

}

.hidden {
	display: none;
}



.collectorsContainer {
	.collector {
		border: 10px solid #58a78d;
		padding: 5%;
		background-color: steelblue;
		opacity: 0.8;
		width: 30%;
		margin: 3% auto;
		padding: 2%;
		position: relative;
	}

		p {
			margin: 1% 0;
		}

		.collector {
			display: inline-block;
			vertical-align: center;
			margin-right: 10%;
		}
}

.vinylContainer {
	border: 10px solid #58a78d;
	padding: 5%;
	background-color: steelblue;
	opacity: 0.8

}

.detailContainer {
	border: 10px solid #58a78d;
	padding: 5%;
	background-color: steelblue;
	opacity: 0.8

}

.tradeContainer {
	border: 10px solid #58a78d;
	padding: 5%;
	background-color: steelblue;
	opacity: 0.8

}

	.myVinylContainer { //side-panel
		position: fixed; 
		transition: 1s transform ease;
	    top: 5px; 
	    z-index: 10; 
	    opacity: 0.9; 
	    border: 3px solid #D35400;
	    background: #58a78d;
	    padding: 5px;
	    width: 700px;
	    color: #fff; 
	    text-shadow: 1px 1px #D35400;
	    font-weight: 700;

			.vinyl-list {
				position: absolute;
		        height: 100%;
		        width: 100%;
		        overflow-y: scroll;

			},

				 ul{
	            	list-style-type: none;

		            >li{
		                padding: 5px;
		                border-bottom: #ddd 1px solid;
		                border-left: #ddd 6px solid;
		                margin: 8px 0;
		            }
	        	}
	 
			    button {
			        position: absolute;
			        top: -2px;
			        right: 101%;
			        font-size: 20px;
			        background: #F9BF3B;
			        border: 0px;
			        border-radius: 0;
			        width: 175px;
			        z-index: 13;
			    }

				p {
					margin: 1% 0;
				}

				.vinyl {
					display: inline-block;
					vertical-align: center;
					margin-right: 10%;
				}
		}
