* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;

}

body, html {
	background-color: azure;
	margin: 0;
	padding: 0;

}

a {
	margin: 1%;
    padding: 3%;
    background-color: #c0d6e4;
    color: #004878;
    text-decoration: none;

}

a:hover {
	text-decoration: none;
	
}

button {
	 color: #004878;
	 background-color: #c0d6e4;
	 height: 38px;

}

p {
	margin: 1%;
	color: #004878;
	font-weight: inherit;

}

h1 {
	font-size: 300%;
	color: azure;
	display: inline-block;
	

}

h3 {
	padding: 1%;
    color: #004878;
    margin: 5%;
    text-align: center;
}

h5 {
	color: #004878;
	margin: 0%;
	font-weight: 500

}

input {
    height: 38px;
    background-color: #fff;
    margin: 2%;
    padding: 2%;
    width: 40%;
   
}

textarea {
    min-height: 200px;
    min-width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

img {
	width: 35%;

}

#loginBox {
	display: inline-block;
    float: right;
    margin-top: 125px;
    width: 50%;
    white-space: nowrap;
    padding-right: 2%;

}

#piSymbol {
	font-size: 200px;
	color: #004878

}

#navBar {
	width: 45%;
    margin: auto;

}

#tradeButton {
	margin: 0%;
    padding: 3%;
    background-color: #004878;
    color: #c0d6e4;
    text-decoration: none;

}

#delete {
	background-color: #004878;
    color: #c0d6e4;
    display: inline-block;

}

#page-header {
   	background: #004878;
}

.confirm {
	background-color: #004878;
    color: #c0d6e4;
    display: inline-block;

}

.logo{

	font-size: 1000%;
	color: azure;
	display: inline-block;
	margin: 2%;

}

.outgoingTradesContainer {
	border: 10px solid #004878;
	padding: 5%;
	background-color: #c0d6e4;

}

.incomingTradesContainer {
	border: 10px solid  #004878;
	padding: 5%;
	background-color: #c0d6e4;
	

}

.hidden {
	display: none;
}



.collectorsContainer {

	.collector {
		border: 10px solid #004878;
		padding: 5%;
		background-color: #c0d6e4;
		width: 60%;
		margin: 3% auto;
		padding: 2%;
		position: relative;
		font-weight: 700;
		display: inline-block;
		vertical-align: center;
		margin-right: 10%;
	}
			ul {
	            list-style-type: none;

		            >li{
		                padding: 5px;
		                border-bottom: #004878 1px solid;
		                border-left: #004878 6px solid;
		                margin: 8px 0;
		            }
	        	}
}

.vinylContainer {

		.vinyl {
			border: 10px solid #004878;
			padding: 5%;
			background-color: #c0d6e4;
			width: 60%;
			margin: 3% auto;
			padding: 2%;
			position: relative;
			font-weight: 700;
			display: inline-block;
			vertical-align: center;
			margin-right: 10%;
			color: #004878;
	}
			ul {
	            list-style-type: none;

		            >li{
		                padding: 5px;
		                border-bottom: #004878 1px solid;
		                border-left: #004878 6px solid;
		                margin: 8px 0;
		            }
	        	}

}

.detailContainer {
	border: 10px solid #004878;
	padding: 5%;
	background-color: #c0d6e4;
	

}

.tradeContainer {
	border: 10px solid #004878;
	padding: 5%;
	background-color: #c0d6e4;

}

	.myVinylContainer { 
		position: fixed; 
		transition: 1s transform ease;
	    top: 5px; 
	    z-index: 10; 
	    opacity: 0.9; 
	    border: 3px solid #004878;
	    background: #c0d6e4;
	    padding: 5px;
	    width: 36%;
	    height: 100%;
	    color: #004878; 
	    font-weight: 700;
	    right: 0;
	    transform: translateX(100%);
	    	
	    	.sidebar-content {
	    		overflow-y: scroll;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;

	    	}

			.vinyl-list {
				overflow-y: scroll;
				position: absolute;
		        height: 100%;
		        width: 100%;
		       

			}

				 ul{
	            	list-style-type: none;

		            >li{
		                padding: 5px;
		                border-bottom: #004878 1px solid;
		                border-left: #004878 6px solid;
		                margin: 8px 0;
		            }
	        	}
	 
			    button {
			        position: absolute;
			        top: -2px;
			        right: 101%;
			        font-size: 20px;
			        background: #c0d6e4;
			        border: 3px solid #004878;
			        border-radius: 0;
			        width: 175px;
			        z-index: 13;
			    }

				p {
					margin: 1% 0;
				}

				.vinyl {
					display: inline-block;
					vertical-align: center;
					margin-right: 10%;
				}
		}
